/* fonts */
* {
  font-size: 24px;
  font-family: 'Helvetica';
  font-weight: 800;
}

.font-large {
  font-size: 48px;
}

.font-medium {
  font-size: 36px;
}

/* bootstrap overrides */
.container {
  max-width: 100%;
}
.row {
  margin-top: 16px;
}

/* NAVBAR */
.navbar {
  background: #4dd8ff;
  padding-bottom: 5px;
}

.navbar > a {
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  text-align: center;
}

.navbar-collapse.in {
  display: block !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8);
}

/* FOOTER */
:root {
  --mainColor: #4dd8ff;
}

.main-footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/* WHEEL */
#wheel {
  width: 100%;
  height: 100%;
}

button {
  background: none;
  border: 1px solid black;
  font-size: 20px;
  border-radius:5px;
}


#spin, #reset {
  position: absolute;
  bottom: 20vh;
  right: 45vw;
}

#spin:hover {
  color: rgb(0, 180, 120);
  border-color: rgb(0, 180, 120);
}

#spin:focus, #reset:focus {
  outline:none;
}

/* #reset {
  position: absolute;
  bottom: 20vh;
  right: 35vw;
} */

#reset:hover {
  color: red;
  border-color: red;
}

#readout {
  position: absolute;
  bottom: 7vh;
  left: 35vw;
}


#selector {
  font-size: 100px;
  z-index: 3;
  margin-bottom: -4%;
}

#result{
  font-size:50px;
  color: rgb(0, 180, 120);
}

input {
  font-size: 16px;
  border:none;
  border-bottom: 1px solid black
}

.canvasContainer {
  align-items: center;
}

.button {
  margin: 6px;
  padding: 6px;
  outline: black;
}