/* NAVBAR */
.navbar {
  background: #4dd8ff;
  padding: 10px;
}

.navbar > a {
  font-size: 25px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  text-align: center;
}

.navbar-collapse.in {
  display: block !important;
}

/* FOOTER */
:root {
  --mainColor: #4dd8ff;
}

.main-footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/* WHEEL */
button {
  background: none;
  border: 1px solid black;
  font-size: 20px;
  border-radius:5px;
}


#spin, #reset {
  position: absolute;
  bottom: 20vh;
  right: 45vw;
}

#spin:hover {
  color: rgb(0, 180, 120);
  border-color: rgb(0, 180, 120);
}

#spin:focus, #reset:focus {
  outline:none;
}

/* #reset {
  position: absolute;
  bottom: 20vh;
  right: 35vw;
} */

#reset:hover {
  color: red;
  border-color: red;
}



#readout {
  position: absolute;
  bottom: 7vh;
  left: 35vw;
}


#selector {
  position: absolute;
  top: 20vh;
  right: 49vw;
  font-size: 40px;
  z-index: 3;
}

#result{
  font-size:50px;
  color: rgb(0, 180, 120);
}

input {
  font-size: 16px;
  border:none;
  border-bottom: 1px solid black
}